#logo {
  padding: 1%;
  margin: 0 auto;
  background-color: #263F6A;
}

#logo_text{
  color: white;
}

#logo_text a:hover{
  text-decoration: none;
  color: #CCCCCC
}

#logo_text a{
  color: white;
}

.navbar {
  background-color: #CCCCCC;
}

#carousel img{
  width: 100%;
  //padding-left: 10%;
  //padding-right: 10%;
}

#content {
  padding: 1%;
}

#contact {
  padding: 1%;
  background-color: #DDDDDD;
}

#footer-external {
  background: linear-gradient(#21314D, #263F6A);
  text-align: center;
  color: white;
  padding-top: 1%;
  padding-bottom: 0.1%;
}

footer a{
  color: white;
}

.iframe_container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sponsor {
  width: 100%;
}

.people {
  width: 100%;
}

.sm-logo {
  width: 30px;
  text-align: center;
}