/*
Dallas Andersen
Robert Imbler
Arthur Mayer
CSCI446 Final Project
Hanoi CSS file
*/

canvas{
	background-color: black;
}

table, tr {
    padding: 15px;
    table-layout: 'fixed';
    align-items: flex-start;
    align-content: space-around;
    -ms-flex-align: stretch;
}
td {
    width: 33%;
    height: 50px;
}
table, tr {
    border: 1px solid black;
}
div {
    border: 1px solid black;
    padding: 0px;
    height: 100%;
    width: 100%;
    padding-top: 2%;
}